<div class="list row">

  <div class="col-md-6">
    <h4>items List</h4>
    <ul class="list-group">
      <li
        class="list-group-item"
        *ngFor="let item of items; let i = index"
        [class.active]="i == currentIndex"
        (click)="setActiveItem(item, i)"
      >
        {{ item.name }}
      </li>
    </ul>
  </div>
  <div class="col-md-6">
    <div *ngIf="currentItem">
      <h4>item</h4>
      <div>
        <label><strong>id:</strong></label> {{ currentItem._id }}
      </div>
      <div>
        <label><strong>name:</strong></label> {{ currentItem.name }}
      </div>
      <div>
        <label><strong>Description:</strong></label>
        {{ currentItem.description }}
      </div>


      <a class="badge badge-warning" href="/items/{{ currentItem._id }}">
        Edit
      </a>

      <button class="badge badge-danger mr-2" (click)="deleteItem(currentItem._id)">
        Delete
      </button>

    </div>




    <div *ngIf="!currentItem">
      <br />
      <p>Please click on a item...</p>
    </div>
  </div>
</div>
